jde-system-api/src/main/app/system-api-jde-app-sync-payload.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

    
    <flow name="jde-salesorder-app-sync-payloadFlow" processingStrategy="synchronous">
        <set-variable variableName="correlationId" value="#[message.id]" doc:name="Variable"/>


        <dw:transform-message doc:name="Transform Message">
                <dw:set-payload resource="classpath:dw/jde-salesorder-app-sync-payloadFlow.dwl"/>
        </dw:transform-message>
        <logger message="JDE - System API - Salesorder- App-Sync-Payload -  #[payload]" level="DEBUG" doc:name="Logger" category="tcc.jde.salesorder"/>

        <jms:outbound-endpoint queue="${app_sync_payload.Q}" connector-ref="Active_MQ" doc:name="JMS"/> 
    </flow>
    
    
    <flow name="jde-customer-app-sync-payloadFlow" processingStrategy="synchronous">
        <set-variable variableName="correlationId" value="#[message.id]" doc:name="Variable"/>


        <dw:transform-message doc:name="Transform Message">
         <dw:set-payload resource="classpath:dw/jde-customer-app-sync-payloadFlow.dwl"/>
        </dw:transform-message>
        <logger message="JDE - System API - Customer - App-Sync-Payload -  #[payload]" level="DEBUG" doc:name="Logger" category="tcc.jde.salesorder"/>

        <jms:outbound-endpoint queue="${app_sync_payload.Q}" connector-ref="Active_MQ" doc:name="JMS"/> 
    </flow>
    
    
    <flow name="app-sync-payloadFlow">
        <set-variable variableName="correlationId" value="#[message.id]" doc:name="Variable"/>


        <dw:transform-message doc:name="Transform Message">
              <dw:set-payload resource="classpath:dw/app-sync-payloadFlow.dwl"/>
        </dw:transform-message>
        <logger message="JDE - System API - Creditcheck - App-Sync-Payload #[payload]" level="DEBUG" doc:name="Logger" category="tcc.jde.salesorder"/>

        <jms:outbound-endpoint queue="${app_sync_payload.Q}" connector-ref="Active_MQ" doc:name="JMS"/> 
    </flow>

    
</mule>
