jde-system-api/src/main/app/system-api-jde-creditcheck-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:ws="http://www.mulesoft.org/schema/mule/ws"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

    
    <flow name="credit-check-service-implementation" processingStrategy="synchronous">
        <object-to-string-transformer doc:name="Object to String"/>
        <logger message="ATG - Credit Check Request -  #[payload]" level="DEBUG" category="tcc.jde.creditcheck" doc:name="Logger"/>
		<dw:transform-message  doc:name="Transform Message">
            <dw:input-payload/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://tcc.e1.bssv.JP550300/
---
{
	ns0#doCreditCheck: {
		customerIdTCC: payload.creditCheckRequest.tccCustomerId
	}
}]]></dw:set-payload>
            <dw:set-variable variableName="TCCCustomerID"><![CDATA[%dw 1.0
%output application/java
---
payload.creditCheckRequest.tccCustomerId]]></dw:set-variable>
        </dw:transform-message>
        <logger message="JDE - Credit Check Request for #[flowVars.TCCCustomerID] - #[payload]" level="INFO" doc:name="Logger" category="tcc.jde.creditcheck"/>
        <until-successful maxRetries="${jde.ws.max.retries}" millisBetweenRetries="${jde.ws.creditcheck.retry.interval.ms}" synchronous="true" doc:name="Until Successful">
            <ws:consumer config-ref="JDE_Check-Customer_Web_Service_Consumer" operation="doCreditCheck" doc:name="Web Service Consumer"/>
        </until-successful>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <logger message="JDE - WS - Credit Check Response for #[flowVars.TCCCustomerID]- #[payload]" level="DEBUG" doc:name="Logger" category="tcc.jde.creditcheck"/>
        
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://tcc.e1.bssv.JP550300/
---
{
	doCreditCheckResponse: {
		//e1MessageList: {
				//(e1Messages.*e1Message map {
					//message: $.message,
					//messagePrefix: $.messagePrefix
				//})
		//} when payload.doCreditCheckResponse.e1MessageList != null and payload.doCreditCheckResponse.e1MessageList != '' otherwise '',
		(ARAccountCreditBalance: payload.doCreditCheckResponse.accountCreditBalance)  when payload.doCreditCheckResponse.accountCreditBalance != null  ,
		(ARAccountPurchasesonCredit:  payload.doCreditCheckResponse.accountPurchaseOnCredit) when  payload.doCreditCheckResponse.accountPurchaseOnCredit != null ,
		(ARAccountTotalCredit:  payload.doCreditCheckResponse.accountTotalCredit) when payload.doCreditCheckResponse.accountTotalCredit != null ,
		(tccCustomerId: flowVars.TCCCustomerID) when flowVars.TCCCustomerID != null
	}}]]></dw:set-payload>

        </dw:transform-message>
        <json:validate-schema schemaLocation="responseCreditCheckSchema.json" doc:name="Validate JSON Schema"/>

        <object-to-string-transformer mimeType="application/xml" doc:name="Object to String"/>
        <logger message="ATG - CreditCheck Response for #[flowVars.TCCCustomerID] - #[payload]" level="DEBUG" doc:name="Logger" category="tcc.jde.creditcheck"/>

        <choice-exception-strategy doc:name="Choice Exception Strategy">
            <catch-exception-strategy doc:name="Catch Connection Exception" when="exception.causedBy(java.net.ConnectException)">
                <logger message="JDE - Connection Exception for #[flowVars.TCCCustomerID]- #[payload] - #[exception]" level="ERROR" doc:name="Logger" category="tcc.jde.creditcheck"/>
                <jms:outbound-endpoint queue="${jde.request.undelievered.queue}" connector-ref="Active_MQ" doc:name="Drop Payload to Queue"/>
                <set-payload value="#['{\n&quot;errorMessage&quot;:' + '{\n&quot;errorCode&quot;: ' + ' &quot;JDE1050&quot;,' + '\n&quot;errorDescription&quot;: ' + ' &quot;${JDE1050}&quot;' + '\n}\n}']" doc:name="SetErrorPayload"/>

            </catch-exception-strategy>
            <catch-exception-strategy when="exception.causedBy(org.mule.module.json.validation.JsonSchemaValidationException)" doc:name="Invalid Request Exception">
                <set-payload value="#['{\n&quot;errorMessage&quot;:' + '{\n&quot;errorCode&quot;: ' + ' &quot;JDE1110&quot;,' + '\n&quot;errorDescription&quot;: ' + ' &quot;${JDE1110} ' + flowVars.TCCCustomerID + '&quot;\n}\n}']" doc:name="Set Payload"/>
                <logger message="JDE - InvalidRequestException #[flowVars.TCCCustomerID] - CreditCheck- #[payload]" level="ERROR" doc:name="Logger" category="tcc.jde.creditcheck"/>
            </catch-exception-strategy>
            <catch-exception-strategy when="exception.causedBy(org.mule.module.ws.consumer.SoapFaultException)" doc:name="Catch Exception Strategy">
                <set-payload value="#['{\n&quot;errorMessage&quot;:' + '{\n&quot;errorCode&quot;: ' + ' &quot;JDE1120&quot;,' + '\n&quot;errorDescription&quot;: ' + ' &quot;${JDE1120}&quot;' + '\n}\n}']" doc:name="Set Payload"/>
                <logger message="JDE - SoapFaultException for #[flowVars.TCCCustomerID]- Credit Check - #[payload]" level="ERROR" doc:name="Logger" category="tcc.jde.creditcheck"/>
            </catch-exception-strategy>
            <catch-exception-strategy doc:name="Catch Exception Strategy">
                <set-payload value="#['{\n&quot;errorMessage&quot;:' + '{\n&quot;errorCode&quot;: ' + ' &quot;JDE1130&quot;,' + '\n&quot;errorDescription&quot;: ' + ' &quot;${JDE1130}&quot;' + '\n}\n}']" doc:name="Set Payload"/>
                <logger message="JDE - GenericException for #[flowVars.TCCCustomerID]- CreditCheck #[payload]" level="ERROR" doc:name="Logger" category="tcc.jde.creditcheck"/>
            </catch-exception-strategy>
        </choice-exception-strategy>
    </flow>
    <sub-flow name="atg-app-sync-flow">
        <message-properties-transformer doc:name="Message Properties">
            <add-message-property key="appResource" value="${atg_app_resource}"/>
            <add-message-property key="appMethod" value="${atg_customer_app_method}"/>
            <add-message-property key="app_Id" value="${atg_app_Id}"/>
        </message-properties-transformer>
        <set-variable variableName="request" value="#[flowVars.atgRequest]" doc:name="Variable"/>
        <flow-ref name="app-sync-payloadFlow" doc:name="app-sync-payloadFlow"/>
    </sub-flow>
    
    
    
    
    <sub-flow name="jde-app-sync-flow">
        <message-properties-transformer doc:name="Message Properties">
            <add-message-property key="appResource" value="${jde_app_resource}"/>
            <add-message-property key="appMethod" value="${jde_customer_app_method}"/>
            <add-message-property key="app_Id" value="${jde_app_Id}"/>
        </message-properties-transformer>
        <json:json-to-xml-transformer doc:name="JSON to XML"/>
        <set-variable variableName="response" value="#[payload]" doc:name="Variable"/>
        <flow-ref name="api-jde-customer-flow" doc:name="api-jde-customer-flow"/>
    </sub-flow>

   
     <sub-flow name="jde-so-exception-app-sync-flow">
        <message-properties-transformer doc:name="Message Properties">
            <add-message-property key="appResource" value="${jde_app_resource}"/>
            <add-message-property key="appMethod" value="${jde_salesorder_app_method}"/>
            <add-message-property key="app_Id" value="${jde_so_app_Id}"/>
        </message-properties-transformer>
        <json:json-to-xml-transformer doc:name="JSON to XML"/>
        <set-variable variableName="response" value="#[payload]" doc:name="Variable"/>
        <flow-ref name="app-sync-payloadFlow" doc:name="app-sync-payloadFlow"/>
    </sub-flow>
    <sub-flow name="jde-so-app-sync-flow">
        <message-properties-transformer doc:name="Message Properties">
            <add-message-property key="appResource" value="${jde_app_resource}"/>
            <add-message-property key="appMethod" value="${jde_salesorder_app_method}"/>
            <add-message-property key="app_Id" value="${jde_so_app_Id}"/>
        </message-properties-transformer>
        
        <set-variable variableName="response" value="#[payload]" doc:name="Variable"/>
        <flow-ref name="app-sync-payloadFlow" doc:name="app-sync-payloadFlow"/>
    </sub-flow>
    

</mule>
