jde-system-api/src/main/app/system-api-jde-salesorder-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:ws="http://www.mulesoft.org/schema/mule/ws"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

    
    <flow name="createUpdateSalesorder-serviceimpl">
        <object-to-string-transformer mimeType="application/json" doc:name="Object to String"/>
        <logger message="JDE - System API - Salesorder- Request - #[payload.replaceAll(&quot;\\r\\n\\t|\\r|\\n|\\t&quot;,&quot;&quot;)]" level="DEBUG" doc:name="Logger" category="tcc.jde.salesorder"/>
        <set-variable variableName="jdeSysAPIRequest" value="#[message.payloadAs(java.lang.String)]" doc:name="Variable"/>
        <dw:transform-message doc:name="Transform Message">
               <dw:set-payload resource="classpath:dw/OrderHeader.dwl"/>
        </dw:transform-message>
        <object-to-string-transformer mimeType="application/json" doc:name="Object to String"/>
        <logger message="System API - SalesOrder - Transformed Request - #[payload]" level="DEBUG" category="tcc.jde.salesorder" doc:name="Logger"/>

        <dw:transform-message doc:name="Transform Message">
            <dw:input-payload mimeType="application/json"/>
              <dw:set-payload resource="classpath:dw/createSalesOrder.dwl"/>
            <dw:set-variable resource="classpath:dw/orderId_variable.dwl" variableName="orderId"/>


        </dw:transform-message>
        <logger message="JDE - System API - Salesorder- Processing #[flowVars.orderId]" level="INFO"  doc:name="Logger"/>
        <set-variable variableName="RETRY_COUNT" value="1" doc:name="Variable"/>

        <flow-ref name="api-jde-so-flow" doc:name="api-jde-so-flow"/>
        <object-to-string-transformer mimeType="application/json" doc:name="Object to String"/>
        <logger message="JDE - System API - Salesorder- Response for #[flowVars.orderId] - #[payload.replaceAll(&quot;\\r\\n\\t|\\r|\\n|\\t&quot;,&quot;&quot;)]" level="DEBUG" doc:name="Logger" category="tcc.jde.salesorder"/>
        <logger message="JDE - System API - Salesorder - JDE response received  #[flowVars.orderId]" level="INFO"  doc:name="Logger"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="JDE-SystemAPI- Salesorder - Transformation Error for #[flowVars.orderId] -  #[exception]" level="ERROR" doc:name="Logger" />
            <message-properties-transformer scope="invocation" doc:name="Message Properties">
                <add-message-property key="appSyncCorrelationId" value="#[flowVars.orderId]"/>
                <add-message-property key="appSyncTransactionId" value="#[flowVars.orderId + '_' + ${jde.app.salesorder.recovery.appid} + '_' + message.id]"/>
                <add-message-property key="appSyncRequest" value="#[flowVars.jdeSysAPIRequest]"/>
                <add-message-property key="appSyncResponse" value="Exception - Salesorder - JDE - Transformation Issue"/>
            </message-properties-transformer>
            <enricher source="#[payload]" target="appSyncMailSuccess" doc:name="Message Enricher">
                <flow-ref name="jde-salesorder-app-sync-payloadFlow" doc:name="jde-salesorder-app-sync-payloadFlow"/>
            </enricher>
            <dw:transform-message doc:name="Transform Message">
               <dw:set-payload resource="classpath:dw/error_JDE1020.dwl"/>
            </dw:transform-message>
            
            <!-- Mail triggering reference -->
            <message-properties-transformer doc:name="Message Properties">
                    <add-message-property key="request" value="#[flowVars.jdeSysAPIRequest]"/>
                    <add-message-property key="exceptionMsg" value="Exception - Salesorder - JDE - Transformation Issue"/>
                    <add-message-property key="ipAddress" value="#[server.ip]"/>
                	<add-message-property key="host" value="#[server.host]"/>
                	<add-message-property key="mailsubject" value="#[flowVars.orderId  + ' - JDE']"/>
                	<add-message-property key="orderId" value="#[flowVars.orderId]"/>
                	<add-message-property key="correlationId" value="#[flowVars.orderId + '_' + message.id]"/>
					<add-message-property key="startDate" value="#[server.dateTime.plusMonths(-1)]"/>
                </message-properties-transformer>
            <enricher source="#[payload]" target="mailSuccess" doc:name="Message Enricher">
                <flow-ref name="system-api-jde-salesorder-implementationFlow-Mail-Flow" doc:name="system-api-jde-salesorder-implementationFlow-Mail-Flow"/>
            </enricher>
            
            <!-- APP Sync - Pushing details to DB -->
   

        </catch-exception-strategy>
		
	</flow>
    <flow name="api-jde-so-flow" processingStrategy="synchronous">
    	<set-variable variableName="jdeWSRequest" value="#[message.payloadAs(java.lang.String)]" doc:name="Variable"/>
        <object-to-string-transformer mimeType="application/xml" doc:name="Object to String"/>
        <logger message="JDE-SystemAPI - WS Salesorder Request for #[flowVars.orderId] - #[payload.replaceAll(&quot;\\r\\n\\t|\\r|\\n|\\t&quot;,&quot;&quot;)]" level="DEBUG" category="tcc.jde.salesorder" doc:name="Logger"/>

        <until-successful maxRetries="${jde.ws.max.retries}" millisBetweenRetries="${jde.ws.retry.interval.ms}" failureExpression="#[&quot;connectionEx&quot; == flowVars.exCausedBy]" synchronous="true" doc:name="Until Successful">
            <flow-ref name="atg-jde-salesorderFlow-response-consumer" doc:name="atg-jde-salesorderFlow-response-consumer"/>
        </until-successful>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="JDE-SystemAPI - Salesorder Failure - After Retries for #[flowVars.orderId] -  #[exception]" level="ERROR"  doc:name="Logger"/>
            <message-properties-transformer scope="invocation" doc:name="Message Properties">
                <add-message-property key="appSyncCorrelationId" value="#[flowVars.orderId]"/>
                <add-message-property key="appSyncTransactionId" value="#[flowVars.orderId + '_' + ${jde.app.salesorder.recovery.appid} + '_' + message.id]"/>
                <add-message-property key="appSyncRequest" value="#[flowVars.jdeWSRequest]"/>
                <add-message-property key="appSyncResponse" value="Exception - SalesOrder JDE Service Failure"/>
            </message-properties-transformer>
            <enricher source="#[payload]" target="appSyncMailSuccess" doc:name="Message Enricher">
                <flow-ref name="jde-salesorder-app-sync-payloadFlow" doc:name="jde-salesorder-app-sync-payloadFlow"/>
            </enricher>
            <dw:transform-message doc:name="Transform Message">
            
                 <dw:set-payload resource="classpath:dw/error_JDE1010.dwl"/>
                  <dw:set-variable resource="classpath:dw/transactionId_variable.dwl" variableName="transactionId"/>
            </dw:transform-message>
            <async doc:name="Async">
                <enricher source="#[payload]" target="#[flowVars.retryFlow]" doc:name="Message Enricher">
                    <flow-ref name="system-api-jde-salesorder-implementationFlow-Retry-Queue-Flow" doc:name="system-api-jde-salesorder-implementationFlow-Retry-Queue-Flow"/>
                </enricher>
            </async>
            
            <!-- Recovery Flow -->

            
            <!-- Mail triggering reference -->
            <message-properties-transformer doc:name="Message Properties">
                    <add-message-property key="request" value="#[flowVars.jdeWSRequest]"/>
                    <add-message-property key="exceptionMsg" value="Exception - SalesOrder JDE Service Failure"/>
                    <add-message-property key="ipAddress" value="#[server.ip]"/>
                	<add-message-property key="host" value="#[server.host]"/>
                	<add-message-property key="mailsubject" value="#[flowVars.orderId  + ' - JDE']"/>
                	<add-message-property key="orderId" value="#[flowVars.orderId]"/>
                	<add-message-property key="correlationId" value="#[flowVars.orderId + '_' + message.id]"/>
					<add-message-property key="startDate" value="#[server.dateTime.plusMonths(-1)]"/>
                </message-properties-transformer>
            <enricher source="#[payload]" target="mailSuccess" doc:name="Message Enricher">
                <flow-ref name="system-api-jde-salesorder-implementationFlow-Mail-Flow" doc:name="system-api-jde-salesorder-implementationFlow-Mail-Flow"/>
            </enricher>
            
            <!-- APP Sync - Pushing details to DB -->
   
        </catch-exception-strategy>
    </flow>

    <flow name="atg-jde-salesorderFlow-response-consumer" processingStrategy="synchronous">


        <ws:consumer config-ref="Web_Service_Consumer_Salesorder" operation="createSalesOrder" doc:name="Web Service Consumer"/>

        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload resource="classpath:dw/atg-jde-salesorderFlow-response-consumer.dwl"/>
            <dw:set-variable resource="classpath:dw/transactionId_variable.dwl" variableName="transactionId"/>

        </dw:transform-message>

        
        <!-- APP Sync - Pushing details to DB -->
        <message-properties-transformer doc:name="Message Properties" scope="invocation">
                    <add-message-property key="appSyncCorrelationId" value="#[flowVars.orderId]"/>
                    <add-message-property key="appSyncTransactionId" value="#[flowVars.orderId + '_' + ${jde.app.salesorder.recovery.appid} + '_' + message.id]"/>
                    <add-message-property key="appSyncRequest" value="#[flowVars.jdeWSRequest]"/>
                	<add-message-property key="appSyncResponse" value="#[message.payloadAs(java.lang.String)]"/>
           </message-properties-transformer>
         <enricher source="#[payload]" target="appSyncMailSuccess" doc:name="Message Enricher">
              <flow-ref name="jde-salesorder-app-sync-payloadFlow" doc:name="jde-salesorder-app-sync-payloadFlow"/>
         </enricher>

        <set-variable variableName="exCausedBy" value="noException" doc:name="Variable"/>
        <object-to-string-transformer mimeType="application/xml" doc:name="Object to String"/>
        <logger message="JDE-SystemAPI - WS - Salesorder-Response for #[flowVars.orderId] : #[payload.replaceAll(&quot;\\r\\n\\t|\\r|\\n|\\t&quot;,&quot;&quot;)]" level="DEBUG" category="tcc.jde.salesorder" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
                 <dw:set-payload resource="classpath:dw/success.dwl"/>
        </dw:transform-message>
        
        <!-- Deleting the record from recovery table if any is existing for this orderId -->
            <enricher source="#[payload]" target="deleteFlowOutput" doc:name="Message Enricher">
                    <flow-ref name="delete-record-from-APP-Sync" doc:name="delete-record-from-APP-Sync"/>
            </enricher>
                
        <choice-exception-strategy doc:name="Choice Exception Strategy">
        	<catch-exception-strategy doc:name="SoapFault - Catch Exception Strategy" when="#[exception != null &amp;&amp; (exception.causedBy(org.mule.module.ws.consumer.SoapFaultException))]">
            	<logger message="JDE-Salesorder-SoapFault Exception - Failure for  #[flowVars.orderId] -   #[exception]" level="ERROR" doc:name="Logger" />
                
                <set-variable variableName="exCausedBy" value="soapFault" doc:name="Variable"/>
                <set-variable variableName="exceptionMsg" value="#[(exception.cause!=null)? exception.cause.message : exception]" doc:name="Variable"/>
                <message-properties-transformer scope="invocation" doc:name="Message Properties">
                    <add-message-property key="appSyncCorrelationId" value="#[flowVars.orderId]"/>
                    <add-message-property key="appSyncTransactionId" value="#[flowVars.orderId + '_' + ${jde.app.salesorder.recovery.appid} + '_' + message.id]"/>
                    <add-message-property key="appSyncRequest" value="#[flowVars.jdeWSRequest]"/>
                    <add-message-property key="appSyncResponse" value="#[(exception.cause!=null)? exception.cause.message : exception]"/>
                </message-properties-transformer>
                <enricher source="#[payload]" target="appSyncMailSuccess" doc:name="Message Enricher">
                    <flow-ref name="jde-salesorder-app-sync-payloadFlow" doc:name="jde-salesorder-app-sync-payloadFlow"/>
                </enricher>
                <dw:transform-message doc:name="Transform Message">
                 <dw:set-payload resource="classpath:dw/error_JDE1030.dwl"/>
                    
                </dw:transform-message>

			<!-- Mail triggering reference -->
            <message-properties-transformer doc:name="Message Properties">
                    <add-message-property key="request" value="#[flowVars.jdeWSRequest]"/>
                    <add-message-property key="exceptionMsg" value="#[(exception.cause!=null)? exception.cause.message : exception]"/>
                    <add-message-property key="ipAddress" value="#[server.ip]"/>
                	<add-message-property key="host" value="#[server.host]"/>
                	<add-message-property key="mailsubject" value="#[flowVars.orderId  + ' - JDE']"/>
                	<add-message-property key="orderId" value="#[flowVars.orderId]"/>
                	<add-message-property key="correlationId" value="#[flowVars.orderId + '_' + message.id]"/>
					<add-message-property key="startDate" value="#[server.dateTime.plusMonths(-1)]"/>
                </message-properties-transformer>
            <enricher source="#[payload]" target="mailSuccess" doc:name="Message Enricher">
                <flow-ref name="system-api-jde-salesorder-implementationFlow-Mail-Flow" doc:name="system-api-jde-salesorder-implementationFlow-Mail-Flow"/>
            </enricher>
            
            <!-- APP Sync - Pushing details to DB -->
   
            
            <!-- Deleting the record from recovery table if any is existing for this orderId -->
            <enricher source="#[payload]" target="deleteFlowOutput" doc:name="Message Enricher">
                    <flow-ref name="delete-record-from-APP-Sync" doc:name="delete-record-from-APP-Sync"/>
                </enricher>


       		 </catch-exception-strategy>
       		 <catch-exception-strategy doc:name="Catch Exception Strategy">
            	<logger message="JDE SystemAPI - Salesorder-Connection Exception for #[flowVars.orderId] - Failure :   #[exception]" level="ERROR" doc:name="Logger" />
                <set-variable variableName="exCausedBy" value="connectionEx" doc:name="Variable"/>

                <set-payload value="#[flowVars.jdeWSRequest]" doc:name="Set Payload"/>



        	</catch-exception-strategy>
        </choice-exception-strategy>
        
    </flow>

</mule>
