jde-system-api/src/main/app/system-api-jde-creditcheck-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:ws="http://www.mulesoft.org/schema/mule/ws"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

    
    <flow name="credit-check-service-implementation" processingStrategy="synchronous">
        <object-to-string-transformer doc:name="Object to String"/>
        <logger message="ATG - Credit Check Request - #[payload.replaceAll(&quot;\\r\\n\\t|\\r|\\n|\\t&quot;,&quot;&quot;)] " level="DEBUG" category="tcc.jde.salesorder" doc:name="Logger"/>


		<dw:transform-message  doc:name="Transform Message">
            <dw:input-payload/>
            <dw:set-payload resource="classpath:dw/doCreditCheck.dwl" />
            <dw:set-variable resource="classpath:dw/TCCCustomerID_variable.dwl" variableName="TCCCustomerID"/>

        </dw:transform-message>
        <logger message="JDE - System API - Creditcheck - Processing  #[flowVars.TCCCustomerID] " level="INFO" doc:name="Logger" />
        <until-successful maxRetries="${jde.ws.max.retries}" millisBetweenRetries="${jde.ws.creditcheck.retry.interval.ms}" synchronous="true" doc:name="Until Successful">
            <ws:consumer config-ref="JDE_Check-Customer_Web_Service_Consumer" operation="doCreditCheck" doc:name="Web Service Consumer"/>
        </until-successful>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>

        
        <dw:transform-message doc:name="Transform Message">
              <dw:set-payload resource="classpath:dw/doCreditCheckResponse.dwl" />
   
        </dw:transform-message>
        <json:validate-schema schemaLocation="responseCreditCheckSchema.json" doc:name="Validate JSON Schema"/>

        <object-to-string-transformer mimeType="application/xml" doc:name="Object to String"/>
        <logger message="JDE - System API - Customer - JDE response received  #[flowVars.TCCCustomerID]" level="INFO"  doc:name="Logger"/>

        <choice-exception-strategy doc:name="Choice Exception Strategy">
            <catch-exception-strategy doc:name="Catch Connection Exception" when="exception.causedBy(java.net.ConnectException)">
                <logger message="JDE-SystemAPI-Creditcheck - Connection Exception for  #[flowVars.TCCCustomerID]  -  Failure :   #[exception]" level="ERROR" doc:name="Logger" />
                <jms:outbound-endpoint queue="${jde.request.undelievered.queue}" connector-ref="Active_MQ" doc:name="Drop Payload to Queue"/>
                <set-payload value="#['{\n&quot;errorMessage&quot;:' + '{\n&quot;errorCode&quot;: ' + ' &quot;JDE1050&quot;,' + '\n&quot;errorDescription&quot;: ' + ' &quot;${JDE1050}&quot;' + '\n}\n}']" doc:name="SetErrorPayload"/>

            </catch-exception-strategy>
            <catch-exception-strategy when="exception.causedBy(org.mule.module.json.validation.JsonSchemaValidationException)" doc:name="Invalid Request Exception">
                <set-payload value="#['{\n&quot;errorMessage&quot;:' + '{\n&quot;errorCode&quot;: ' + ' &quot;JDE1110&quot;,' + '\n&quot;errorDescription&quot;: ' + ' &quot;${JDE1110} ' + flowVars.TCCCustomerID + '&quot;\n}\n}']" doc:name="Set Payload"/>
                <logger message="JDE-SystemAPI-Creditcheck  - CreditCheck- InvalidRequestException #[flowVars.TCCCustomerID] -  Failure :   #[exception]" level="ERROR" doc:name="Logger" />
            </catch-exception-strategy>
            <catch-exception-strategy when="exception.causedBy(org.mule.module.ws.consumer.SoapFaultException)" doc:name="Catch Exception Strategy">
                <set-payload value="#['{\n&quot;errorMessage&quot;:' + '{\n&quot;errorCode&quot;: ' + ' &quot;JDE1120&quot;,' + '\n&quot;errorDescription&quot;: ' + ' &quot;${JDE1120}&quot;' + '\n}\n}']" doc:name="Set Payload"/>
                <logger message="JDE-SystemAPI-Creditcheck - SoapFaultException for #[flowVars.TCCCustomerID]- Failure :   #[exception]" level="ERROR" doc:name="Logger" />
            </catch-exception-strategy>
            <catch-exception-strategy doc:name="Catch Exception Strategy">
                <set-payload value="#['{\n&quot;errorMessage&quot;:' + '{\n&quot;errorCode&quot;: ' + ' &quot;JDE1130&quot;,' + '\n&quot;errorDescription&quot;: ' + ' &quot;${JDE1130}&quot;' + '\n}\n}']" doc:name="Set Payload"/>
                <logger message="JDE-SystemAPI-Creditcheck - GenericException for #[flowVars.TCCCustomerID]- Failure :    #[exception]" level="ERROR" doc:name="Logger" />
            </catch-exception-strategy>
        </choice-exception-strategy>
    </flow>
    <sub-flow name="atg-app-sync-flow">
        <message-properties-transformer doc:name="Message Properties">
            <add-message-property key="appResource" value="${atg_app_resource}"/>
            <add-message-property key="appMethod" value="${atg_customer_app_method}"/>
            <add-message-property key="app_Id" value="${atg_app_Id}"/>
        </message-properties-transformer>
        <set-variable variableName="request" value="#[flowVars.atgRequest]" doc:name="Variable"/>
        <flow-ref name="app-sync-payloadFlow" doc:name="app-sync-payloadFlow"/>
    </sub-flow>
    
    
    
    
    <sub-flow name="jde-app-sync-flow">
        <message-properties-transformer doc:name="Message Properties">
            <add-message-property key="appResource" value="${jde_app_resource}"/>
            <add-message-property key="appMethod" value="${jde_customer_app_method}"/>
            <add-message-property key="app_Id" value="${jde_app_Id}"/>
        </message-properties-transformer>
        <json:json-to-xml-transformer doc:name="JSON to XML"/>
        <set-variable variableName="response" value="#[payload]" doc:name="Variable"/>
        <flow-ref name="atg-app-sync-flow" doc:name="atg-app-sync-flow"/>
    </sub-flow>

   
     <sub-flow name="jde-so-exception-app-sync-flow">
        <message-properties-transformer doc:name="Message Properties">
            <add-message-property key="appResource" value="${jde_app_resource}"/>
            <add-message-property key="appMethod" value="${jde_salesorder_app_method}"/>
            <add-message-property key="app_Id" value="${jde_so_app_Id}"/>
        </message-properties-transformer>
        <json:json-to-xml-transformer doc:name="JSON to XML"/>
        <set-variable variableName="response" value="#[payload]" doc:name="Variable"/>
        <flow-ref name="app-sync-payloadFlow" doc:name="app-sync-payloadFlow"/>
    </sub-flow>
    <sub-flow name="jde-so-app-sync-flow">
        <message-properties-transformer doc:name="Message Properties">
            <add-message-property key="appResource" value="${jde_app_resource}"/>
            <add-message-property key="appMethod" value="${jde_salesorder_app_method}"/>
            <add-message-property key="app_Id" value="${jde_so_app_Id}"/>
        </message-properties-transformer>
        
        <set-variable variableName="response" value="#[payload]" doc:name="Variable"/>
        <flow-ref name="app-sync-payloadFlow" doc:name="app-sync-payloadFlow"/>
    </sub-flow>
    

</mule>
