application-utils/src/main/app/application-utils.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <flow name="application-utils-Flow">
        <jms:inbound-endpoint queue="${app_sync_payload.Q}" connector-ref="Active_MQ" doc:name="JMS-CONSUMER-APP-PAYLOAD"/>
        <logger
    message="Read message from queue: ${app_sync_payload.Q} with messageId: #[message.id], jmsMessageId: #[payload.JMSMessageID], correlationID: #[payload.JMSCorrelationID], messageType: #[payload.JMSType] with transactionID: #[payload.TRANSACTION_ID]"
    level="INFO" doc:name="Read From JMS" category="${apputils.transactiondb}" />
    <dw:transform-message doc:name="Transform Message">
            <dw:set-payload resource="classpath:dw/application_utils_from_jms_to_db.dwl"/>

    </dw:transform-message>
    <set-variable variableName="transactionID" value="#[payload.TRANSACTION_ID]" doc:name="flowVars.transactionID" />
    <logger message="Before inserting into DB with transactionID: #[payload.TRANSACTION_ID]" level="INFO" doc:name="Before Database" category="${apputils.transactiondb}" />
        <logger message="Payload from Q to DB ::: #[payload] with transactionID: #[payload.TRANSACTION_ID]" level="DEBUG" doc:name="Logger" category="${apputils.transactiondb}"/>
        <db:insert config-ref="Oracle_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[INSERT INTO APP_SYNC_PAYLOAD_HISTORY (ID,APP_ID,APP_RESOURCE,APP_METHOD,CORRELATION_ID,TRANSACTION_ID,REQUEST,RESPONSE,CREATE_TS)
 VALUES (APP_SYNC_PAYLOAD_SEQ.nextVal,#[payload.APP_ID],#[payload.APP_RESOURCE],#[payload.APP_METHOD],#[payload.CORRELATION_ID],#[payload.TRANSACTION_ID],#[payload.REQUEST],#[payload.RESPONSE],CURRENT_TIMESTAMP)]]></db:parameterized-query>

        </db:insert>
        <logger message="After inserting to DB with transactionID: #[flowVars.transactionID]" level="INFO" doc:name="After Database" category="${apputils.transactiondb}" />
        <catch-exception-strategy doc:name="Catch Exception Strategy">
    <logger message="Exception caused in the application Utils Flow with transactionID: #[flowVars.transactionID]" level="ERROR" doc:name="Logger"
        category="${apputils.transactiondb}" />
    <set-variable variableName="exceptionPayload" value="#[(exception.cause!=null)? exception.cause.message : exception]" doc:name="Variable" />
    <dw:transform-message doc:name="Transform Message">
        <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
    "appUtilPayload": payload,
    "exceptionMsg": flowVars.exceptionPayload
}]]></dw:set-payload>
    </dw:transform-message>
    <logger
        message="Send Payload and Error Message to the queue: ${app_sync_payload.DLQ} with correlationID: #[message.correlationId] with transactionID: #[flowVars.transactionID]"
        level="INFO" doc:name="Logger" category="${apputils.transactiondb}" />
    <jms:outbound-endpoint queue="${app_sync_payload.DLQ}" connector-ref="Active_MQ" doc:name="JMS-PRODUCER-APP-PAYLOAD-DLQ" />
</catch-exception-strategy>
    </flow>
    
    <flow name="application-utils-errorProcessing-flow" initialState="stopped">

    <jms:inbound-endpoint queue="${app_sync_payload.DLQ}" connector-ref="Active_MQ" doc:name="JMS-CONSUMER-APP-PAYLOAD-DLQ" />
    <logger
        message="Read message from dead letter queue: ${app_sync_payload.Q} with messageId: #[payload.JMSMessageID], correlationID: #[payload.JMSCorrelationID],messageType: #[payload.JMSType]"
        level="INFO" doc:name="Logger" category="${apputils.transactiondb}" />
    <dw:transform-message doc:name="Transform Message">
            <dw:set-payload resource="classpath:dw/application_utils_error_flow_dlq_jms_to_producer_jms.dwl"/>

    </dw:transform-message>
    <logger message="Send back Payload to the queue: ${app_sync_payload.DLQ} transactionID: #[payload.TRANSACTION_ID]" level="INFO" doc:name="Logger"
        category="${apputils.transactiondb}" />
    <jms:outbound-endpoint queue="${app_sync_payload.Q}" connector-ref="Active_MQ" doc:name="JMS-PRODUCER-APP-PAYLOAD" />
    <catch-exception-strategy doc:name="Catch Exception Strategy">
        <logger message="Exception caused in the application Utils error processing Flow" level="ERROR" category="${apputils.transactiondb}"
            doc:name="Logger" />
    </catch-exception-strategy>
</flow>
</mule>