api-oic/src/main/app/system-api-oic-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:ws="http://www.mulesoft.org/schema/mule/ws"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">

<flow name="atg-oicFlow" processingStrategy="synchronous">
        <set-variable variableName="oicSysAPIRequest" value="#[message.payloadAs(java.lang.String)]" doc:name="Variable"/>


    <dw:transform-message doc:name="Transform Message">
            <dw:set-payload resource="classpath:dw/atg_oicFlow_orderHeader.dwl"/>
            <dw:set-variable resource="classpath:dw/salesOrderId_variable.dwl" variableName="salesOrderId"/>

        </dw:transform-message>
        <logger message="System API - SalesOrder - Transformed Request - #[payload]" level="DEBUG" doc:name="Logger" category="tcc.salesorder.oic"/>
        <object-to-string-transformer mimeType="application/json" doc:name="Object to String"/>

        <set-variable variableName="commerceItemsSize" value="#[new com.google.gson.JsonParser().parse(payload).getAsJsonObject().getAsJsonObject('commerceItems').getAsJsonArray('commerceItem').size()]" doc:name="Variable"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.commerceItemsSize &gt; 0]">
                <dw:transform-message doc:name="Transform Message">
                    <dw:input-payload mimeType="application/json"/>

                    <dw:set-payload resource="classpath:dw/processIncentiveTransactionStaging.dwl"/>
                </dw:transform-message>
                <set-variable variableName="RETRY_COUNT" value="1" doc:name="Variable"/>
                <flow-ref name="atg-oic-so-flow" doc:name="atg-oic-so-flow"/>


            </when>
            <otherwise>
                <dw:transform-message doc:name="Transform Message">
                  
                    <dw:set-payload resource="classpath:dw/success_json.dwl"/>
                </dw:transform-message>

            </otherwise>
        </choice>
        <object-to-string-transformer doc:name="Object to String"/>
        
        <logger message="System API - SalesOrder - Response  #[payload.replaceAll(&quot;\\r\\n\\t|\\r|\\n|\\t&quot;,&quot;&quot;)]" level="DEBUG" doc:name="Logger" category="tcc.salesorder.oic"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="OIC - WS - Transformation Issue" level="ERROR" doc:name="Logger" category="tcc.salesorder.oic"/>
            <message-properties-transformer scope="invocation" doc:name="Message Properties">
                <add-message-property key="appSyncCorrelationId" value="#[flowVars.salesOrderId]"/>
                <add-message-property key="appSyncTransactionId" value="#[flowVars.salesOrderId + '_' + ${oic.app.sync.recovery.appid} + '_' + message.id]"/>
                <add-message-property key="appSyncRequest" value="#[flowVars.oicSysAPIRequest]"/>
                <add-message-property key="appSyncResponse" value="Exception - Salesorder - OIC - Transformation Issue"/>
            </message-properties-transformer>
            <enricher source="#[payload]" target="appSyncMailSuccess" doc:name="Message Enricher">
                <flow-ref name="app-sync-payloadFlow" doc:name="app-sync-payloadFlow"/>
            </enricher>
            <dw:transform-message doc:name="Transform Message">
                <dw:set-payload resource="classpath:dw/error_OIC1020.dwl"/>
            </dw:transform-message>
            <message-properties-transformer doc:name="Message Properties">
                    <add-message-property key="request" value="#[flowVars.oicSysAPIRequest]"/>
                    <add-message-property key="exceptionMsg" value="Exception - Salesorder - OIC - Transformation Issue"/>
                    <add-message-property key="ipAddress" value="#[server.ip]"/>
                	<add-message-property key="host" value="#[server.host]"/>
                	<add-message-property key="mailsubject" value="#[flowVars.salesOrderId  + ' - OIC']"/>
                	<add-message-property key="orderId" value="#[flowVars.salesOrderId]"/>
                	<add-message-property key="correlationId" value="#[flowVars.salesOrderId + '_' + message.id]"/>
					<add-message-property key="startDate" value="#[server.dateTime.plusMonths(-1)]"/>
                </message-properties-transformer>
            <enricher source="#[payload]" target="mailSuccess" doc:name="Message Enricher">
                <flow-ref name="system-api-oic-implementationFlow-Mail-Flow" doc:name="system-api-oic-implementationFlow-Mail-Flow"/>
            </enricher>
   
                
            	
        </catch-exception-strategy>
        
    </flow>
    <flow name="atg-oic-so-flow" processingStrategy="synchronous">
        <set-variable variableName="oicWSRequest" value="#[message.payloadAs(java.lang.String)]" doc:name="Variable"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <until-successful maxRetries="${oic.maxretires}" millisBetweenRetries="${oic.milliseconds.between.maxretires}" failureExpression="#[&quot;connectionEx&quot; == flowVars.exCausedBy]" synchronous="true" doc:name="RetryBy-UntilSuccessful">
            <flow-ref name="atg-oicFlow-response-consumer" doc:name="atg-oicFlow-response-consumer"/>
        </until-successful>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="OIC - WS - Failure - After Retries" level="ERROR" doc:name="Logger" category="tcc.salesorder.oic"/>
            <message-properties-transformer scope="invocation" doc:name="Message Properties">
                <add-message-property key="appSyncCorrelationId" value="#[flowVars.salesOrderId]"/>
                <add-message-property key="appSyncTransactionId" value="#[flowVars.salesOrderId + '_' + ${oic.app.sync.recovery.appid} + '_' + message.id]"/>
                <add-message-property key="appSyncRequest" value="#[flowVars.oicWSRequest]"/>
                <add-message-property key="appSyncResponse" value="Exception - SalesOrder OIC Service Failure"/>
            </message-properties-transformer>
            <enricher source="#[payload]" target="appSyncMailSuccess" doc:name="Message Enricher">
                <flow-ref name="app-sync-payloadFlow" doc:name="app-sync-payloadFlow"/>
            </enricher>
            <dw:transform-message doc:name="Transform Message">
               
                <dw:set-payload resource="classpath:dw/error_OIC1010.dwl"/>
            </dw:transform-message>
           <message-properties-transformer doc:name="Message Properties">
                    <add-message-property key="request" value="#[flowVars.oicWSRequest]"/>
                    <add-message-property key="exceptionMsg" value="Exception - SalesOrder OIC Service Failure"/>
                    <add-message-property key="ipAddress" value="#[server.ip]"/>
                	<add-message-property key="host" value="#[server.host]"/>
                	<add-message-property key="mailsubject" value="#[flowVars.salesOrderId  + ' - OIC']"/>
                	<add-message-property key="orderId" value="#[flowVars.salesOrderId]"/>
                	<add-message-property key="correlationId" value="#[flowVars.salesOrderId + '_' + message.id]"/>
					<add-message-property key="startDate" value="#[server.dateTime.plusMonths(-1)]"/>
                </message-properties-transformer>

            <enricher source="#[payload]" target="mailSuccess" doc:name="Message Enricher">
                <flow-ref name="system-api-oic-implementationFlow-Mail-Flow" doc:name="system-api-oic-implementationFlow-Mail-Flow"/>
            </enricher>
            <enricher source="retryQueuePayload" target="#[payload]" doc:name="Message Enricher">
                <flow-ref name="system-api-oic-implementationFlow-Retry-Queue-Flow" doc:name="system-api-oic-implementationFlow-Retry-Queue-Flow"/>
            </enricher>

            	
        </catch-exception-strategy>
    </flow>
        <flow name="atg-oicFlow-response-consumer" processingStrategy="synchronous">

        <set-property propertyName="Accept-Encoding" value="#[' ']" doc:name="Property"/>
        <logger message="OIC- WS - Salesorder-Request : #[payload.replaceAll(&quot;\\r\\n\\t|\\r|\\n|\\t&quot;,&quot;&quot;)]" level="INFO" category="tcc.salesorder.oic" doc:name="Logger"/>
        <ws:consumer config-ref="OIC_Web_Service_Consumer" operation="processIncentiveTransactionStaging" doc:name="Web Service Consumer"/>
        <dw:transform-message doc:name="Transform Message">
           
            <dw:set-payload resource="classpath:dw/payload_xml.dwl"/>
        </dw:transform-message>

        <object-to-string-transformer mimeType="application/xml" doc:name="Object to String"/>
        <logger message="OIC- WS - Salesorder-Response : #[payload.replaceAll(&quot;\\r\\n\\t|\\r|\\n|\\t&quot;,&quot;&quot;)]" level="INFO" category="tcc.salesorder.oic" doc:name="Logger"/>
        <message-properties-transformer doc:name="Message Properties" scope="invocation">
                    <add-message-property key="appSyncCorrelationId" value="#[flowVars.salesOrderId]"/>
                    <add-message-property key="appSyncTransactionId" value="#[flowVars.salesOrderId + '_' + ${oic.app.sync.recovery.appid} + '_' + message.id]"/>
                    <add-message-property key="appSyncRequest" value="#[flowVars.oicWSRequest]"/>
                	<add-message-property key="appSyncResponse" value="#[message.payloadAs(java.lang.String)]"/>
           </message-properties-transformer>
         <enricher source="#[payload]" target="appSyncMailSuccess" doc:name="Message Enricher">
              <flow-ref name="app-sync-payloadFlow" doc:name="app-sync-payloadFlow"/>
         </enricher>
        <set-variable variableName="exCausedBy" value="noException" doc:name="Variable"/>

        <object-to-string-transformer mimeType="application/xml" doc:name="Object to String"/>
        <dw:transform-message doc:name="Transform Message">
          
            <dw:set-payload resource="classpath:dw/success.dwl"/>
        </dw:transform-message>
        <enricher source="#[payload]" target="deleteFlowOutput" doc:name="Message Enricher">
            <flow-ref name="delete-record-from-APP-Sync" doc:name="delete-record-from-APP-Sync"/>
        </enricher>

        <choice-exception-strategy doc:name="Choice Exception Strategy">
        	<catch-exception-strategy doc:name="SoapFault Catch Exception Strategy" when="#[exception != null &amp;&amp; (exception.causedBy(org.mule.module.ws.consumer.SoapFaultException))]">
            	<logger message="OIC-Salesorder-SoapFault Exception - Failure : #[flowVars.oicWSRequest] - #[exception]" level="ERROR" doc:name="Logger" category="tcc.salesorder.oic"/>
                <set-variable variableName="exCausedBy" value="soapFault" doc:name="Variable"/>
                <set-variable variableName="exceptionMsg" value="#[(exception.cause!=null)? exception.cause.message : exception]" doc:name="Variable"/>
                <message-properties-transformer scope="invocation" doc:name="Message Properties">
                    <add-message-property key="appSyncCorrelationId" value="#[flowVars.salesOrderId]"/>
                    <add-message-property key="appSyncTransactionId" value="#[flowVars.salesOrderId + '_' + ${oic.app.sync.recovery.appid} + '_' + message.id]"/>
                    <add-message-property key="appSyncRequest" value="#[flowVars.oicWSRequest]"/>
                    <add-message-property key="appSyncResponse" value="#[(exception.cause!=null)? exception.cause.message : exception]"/>
                </message-properties-transformer>
                <enricher source="#[payload]" target="appSyncMailSuccess" doc:name="Message Enricher">
                    <flow-ref name="app-sync-payloadFlow" doc:name="app-sync-payloadFlow"/>
                </enricher>
                <dw:transform-message doc:name="Transform Message">
                    
                    <dw:set-payload resource="classpath:dw/error_OIC1030.dwl"/>
                </dw:transform-message>
                <message-properties-transformer doc:name="Message Properties">
                    <add-message-property key="request" value="#[flowVars.oicWSRequest]"/>
                    <add-message-property key="exceptionMsg" value="#[(exception.cause!=null)? exception.cause.message : exception]"/>
                    <add-message-property key="ipAddress" value="#[server.ip]"/>
                	<add-message-property key="host" value="#[server.host]"/>
                	<add-message-property key="mailsubject" value="#[flowVars.salesOrderId  + ' - OIC']"/>
                	<add-message-property key="orderId" value="#[flowVars.salesOrderId]"/>
                	<add-message-property key="correlationId" value="#[flowVars.salesOrderId + '_' + message.id]"/>
					<add-message-property key="startDate" value="#[server.dateTime.plusMonths(-1)]"/>
                </message-properties-transformer>
            <enricher source="#[payload]" target="mailSuccess" doc:name="Message Enricher">
                <flow-ref name="system-api-oic-implementationFlow-Mail-Flow" doc:name="system-api-oic-implementationFlow-Mail-Flow"/>
            </enricher>
                <enricher source="#[payload]" target="deleteFlowOutput" doc:name="Message Enricher">
                    <flow-ref name="delete-record-from-APP-Sync" doc:name="delete-record-from-APP-Sync"/>
                </enricher>

         

       		 </catch-exception-strategy>
       		 <catch-exception-strategy doc:name="Catch Exception Strategy">
            	<logger message="OIC-Salesorder-Connection Exception - Failure : #[flowVars.oicWSRequest] - #[exception]" level="ERROR" doc:name="Logger" category="tcc.salesorder.oic"/>
                <set-variable variableName="exCausedBy" value="connectionEx" doc:name="Variable"/>

                <set-payload value="#[flowVars.oicWSRequest]" doc:name="Set Payload"/>


        	</catch-exception-strategy>
        </choice-exception-strategy>
        
    </flow>
    
    
</mule>
