api-oic/src/main/app/system-api-oic-retry-mail-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">


	<flow name="system-api-oic-implementationFlow-Retry-Queue-Flow" processingStrategy="synchronous">
		<message-properties-transformer scope="invocation" doc:name="Message Properties">
            <add-message-property key="appId" value="${oic.app.sync.recovery.appid}"/>
            <add-message-property key="appMethod" value="${oic.app.sync.recovery.appresource}"/>
            <add-message-property key="appResource" value="${oic.app.sync.recovery.appmethod}"/>
            <add-message-property key="correlation_id" value="#[flowVars.salesOrderId + '_' + ${oic.app.sync.recovery.appid} + '_' + message.id]"/>
        </message-properties-transformer>
        <message-properties-transformer doc:name="Message Properties">
            <add-message-property key="CORRELATION_ID" value="#[flowVars.salesOrderId]"/>
            <add-message-property key="RETRY_ATTEMPT_COUNT" value="#[flowVars.RETRY_COUNT]"/>
            <add-message-property key="REQUEST_TYPE" value="${oic.app.sync.recovery.servicename}"/>
            <add-message-property key="AMQ_SCHEDULED_DELAY" value="${oic.app.sync.recovery.q.delay}"/>
        </message-properties-transformer>
        <set-payload value="#[flowVars.oicWSRequest]" doc:name="Set Payload"/>
        <scatter-gather doc:name="Scatter-Gather">
            <processor-chain>
                <set-payload value="#[flowVars.salesOrderId]" doc:name="Set Payload"/>
                <logger message="OIC Failed again and pushing to Q for #[flowVars.RETRY_COUNT]" level="INFO" doc:name="Logger"/>
                <jms:outbound-endpoint queue="${oic.app.sync.recovery.q}" connector-ref="Active_MQ" doc:name="JMS"/>
            </processor-chain>
            <flow-ref name="atg-push-payload-db" doc:name="atg-push-payload-db"/>
        </scatter-gather>
	
	</flow>
	
	
	<flow name="atg-oicFlow-retry-from-queue" processingStrategy="synchronous">
       <jms:inbound-endpoint queue="${oic.app.sync.recovery.q}" connector-ref="Active_MQ" doc:name="JMS"/>
        <set-variable variableName="RETRY_COUNT" value="#[Integer.parseInt(null != message.inboundProperties.RETRY_ATTEMPT_COUNT? message.inboundProperties.RETRY_ATTEMPT_COUNT:1)+1]" doc:name="Variable"/>
        <set-variable variableName="salesOrderId" value="#[payload]" doc:name="Variable"/>
        <logger message="JMS Queue Reading the order ID - #[payload] and repushing for #[message.inboundProperties.RETRY_ATTEMPT_COUNT] time" level="INFO" doc:name="Logger"/>

        <flow-ref name="db-fetch-results" doc:name="db-fetch-results"/>
        <logger message="DB Fetch Results done ? #[payload]" level="INFO" doc:name="Logger"/>

        <flow-ref name="atg-oic-so-flow" doc:name="atg-oic-so-flow"/>

    </flow>
    
    <sub-flow name="atg-push-payload-db">
        <enricher source="#[payload]" target="#[flowVars.isDeleted]" doc:name="Message Enricher">
            <flow-ref name="delete-record-from-APP-Sync" doc:name="delete-record-from-APP-Sync"/>
        </enricher>

    	<db:stored-procedure config-ref="Oracle_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[{
      call MULE_OWNER.insert_app_recovery_sync_pay(APP_RECOVERY_SYNC_SEQ.nextVal,:vapp_id,:vapp_resource, :vapp_method,:vcorrelation_id,:vtransaction_id,:vrequest,:vretry_count,:vcreate_ts,:vupdate_ts)
    }]]></db:parameterized-query>
            <db:in-param name="vapp_id" value="#[flowVars.appId]"/>
            <db:in-param name="vapp_resource" value="#[flowVars.appResource]"/>
            <db:in-param name="vapp_method" value="#[flowVars.appMethod]"/>
            <db:in-param name="vcorrelation_id" value="#[flowVars.salesOrderId.toString()]"/>
            <db:in-param name="vretry_count" value="#[flowVars.RETRY_COUNT]"/>
            <db:in-param name="vcreate_ts" value="#[function:now]"/>
            <db:in-param name="vupdate_ts" value="#[function:now]"/>
            <db:in-param name="vtransaction_id" value="#[flowVars.correlation_id]"/>
            <db:in-param name="vrequest" value="#[message.payloadAs(java.lang.String)]"/>



            
</db:stored-procedure>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	success:{
		"code":"200",
		"message":"SalesOrder - " ++ flowVars.salesOrderId ++ " is pushed to APP SYNC RECOVERY DB Successfully"
	}
	
}]]></dw:set-payload>
        </dw:transform-message>


    </sub-flow>
    
    <sub-flow name="db-fetch-results">
        <transactional action="ALWAYS_BEGIN" doc:name="Transactional">
            <logger message="DB Fetch Results select Query ? select * from APP_RECOVERY_SYNC_PAYLOAD where CORRELATION_ID = #[flowVars.salesOrderId] and APP_ID = ${oic.app.sync.recovery.appid}" level="INFO" doc:name="Logger"/>
            <db:select config-ref="Oracle_Configuration" doc:name="Database">
                <db:dynamic-query><![CDATA[select * from APP_RECOVERY_SYNC_PAYLOAD where CORRELATION_ID = '#[flowVars.salesOrderId]' and APP_ID = '${oic.app.sync.recovery.appid}']]></db:dynamic-query>



            </db:select>
            <logger message="Payload ? #[payload] :: #[payload.size()==0] :: #[payload.size()]" level="INFO" doc:name="Logger"/>
            <choice doc:name="Choice">
                <when expression="#[payload != null &amp;&amp; payload.size() &gt; 0]">
                   <dw:transform-message doc:name="Transform Message">
                        <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload map {
	ID: $.ID,
	CREATE_TS : $.CREATE_TS,
	UPDATE_TS: $.UPDATE_TS,
	REQUEST : ($.REQUEST.characterStream) when $.REQUEST? otherwise ""
}]]></dw:set-payload>
                    </dw:transform-message>
                    <set-payload value="#[payload[0].REQUEST]" mimeType="application/xml" doc:name="Set Payload"></set-payload>
                </when>
                <otherwise>
                    <logger message="No Records found for this order in DB Table - Hence Stopping the record here" level="INFO" doc:name="Logger"/>
                    <expression-filter expression="false" doc:name="Expression"/>
                </otherwise>
            </choice>
        </transactional>

        
    	
    </sub-flow>

	<sub-flow name="delete-record-from-APP-Sync">
        <logger message="Delete Record from APP Recovery Table Select Query ? select * from MULE_OWNER.APP_RECOVERY_SYNC_PAYLOAD where CORRELATION_ID = #[flowVars.salesOrderId] and APP_ID = ${oic.app.sync.recovery.appid}" level="INFO" doc:name="Logger"/>
        <db:select config-ref="Oracle_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select * from MULE_OWNER.APP_RECOVERY_SYNC_PAYLOAD where CORRELATION_ID = #[flowVars.salesOrderId] and APP_ID = ${oic.app.sync.recovery.appid}]]></db:parameterized-query>






        </db:select>

        <choice doc:name="Choice">
            <when expression="#[payload.size() &gt; 0]">
                <logger message="Delete Record from APP Recovery Table Delete Query ? delete from APP_RECOVERY_SYNC_PAYLOAD where CORRELATION_ID = #[flowVars.salesOrderId] and APP_ID = ${oic.app.sync.recovery.appid}" level="INFO" doc:name="Logger"/>

                <db:delete config-ref="Oracle_Configuration" doc:name="Database">
                    <db:parameterized-query><![CDATA[delete from APP_RECOVERY_SYNC_PAYLOAD where CORRELATION_ID = #[flowVars.salesOrderId] and APP_ID = ${oic.app.sync.recovery.appid}]]></db:parameterized-query>


                </db:delete>
            </when>
            <otherwise>
                <logger message="APP RECOVERY DB - Delete the Existing Record Flow - No Record found with this ID" level="INFO" doc:name="Logger" category="tcc.salesorder.db"/>
            </otherwise>
        </choice>
    </sub-flow>
    
    <flow name="system-api-oic-implementationFlow-Mail-Flow" processingStrategy="synchronous">
    	<dw:transform-message doc:name="Transform Message">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	systemName: p('oic.mail.systemname'),
	HostName:outboundProperties.host,
	HostIP:outboundProperties.ipAddress,
	mailVerboserecipients: p('smtp.oic.verbose.mailrecipients'),
	mailGenericrecipients: p('smtp.oic.generic.mailrecipients'),
	(request: outboundProperties.request),
	exception: outboundProperties.exceptionMsg,
	mailsubject : p('smtp.mail.subject.prefix') ++ outboundProperties.mailsubject,
	header: p('oic.mail.header'),
	salesorderFailureLink:p('salesorder.failure.alert.link') ++ ((outboundProperties.orderId) when outboundProperties.orderId? otherwise '') ++ ("&transactionID=" ++ (outboundProperties.correlationId) when outboundProperties.correlationId? otherwise "") ++ "&startDate=" ++ outboundProperties.startDate as :string {format: "yyyy/MM/dd"}
}]]></dw:set-payload>
            </dw:transform-message>
            <logger message="OIC - Error Message Details to Q - #[payload]" level="INFO" doc:name="Logger"/>
            <jms:outbound-endpoint doc:name="JMS" connector-ref="Active_MQ" queue="${error.notifications.queue}"/>
    </flow>
    
    
</mule>