notify-communicate/src/main/app/notify-communicate.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc"
	xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:secure-property-placeholder="http://www.mulesoft.org/schema/mule/secure-property-placeholder"
	xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"	
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/secure-property-placeholder http://www.mulesoft.org/schema/mule/secure-property-placeholder/current/mule-secure-property-placeholder.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd">


    <db:template-query name="ESB-APPS-AUDIT-INSERT" doc:name="Template Query">
        <db:parameterized-query><![CDATA[insert into ESB_APPS_AUDIT(ESB_APPS_AUDIT_ID,APP_ID,CREATE_TS)  VALUES(ESB_APPS_AUDIT_SEQ.NEXTVAL,
#[payload.ExecutionMetrics.ApplicationID],#[function:now])]]></db:parameterized-query>
    </db:template-query>
    <db:template-query name="BATCH_AUDIT_INFO_INSERT" doc:name="Template Query">
        <db:parameterized-query><![CDATA[INSERT INTO BATCH_AUDIT_INFO(BATCH_RUN_ID,BATCH_PROCESS_NAME,BATCH_SOURCE_FILE_NAME,TOTAL_RECORDS,
FAILED_RECORDS,SUCCESSFUL_RECORDS,BATCH_START_TS,OVERALL_RESULT)
VALUES(BATCH_RUN_ID_SEQ.NEXTVAL,#[originalPayload.ExecutionMetrics.ApplicationName],
#[originalPayload.ExecutionMetrics.BatchExecutionSummary.SourceFileName],
#[originalPayload.ExecutionMetrics.BatchExecutionSummary.Total],
#[originalPayload.ExecutionMetrics.BatchExecutionSummary.Failed],
#[originalPayload.ExecutionMetrics.BatchExecutionSummary.Successful],
#[originalPayload.ExecutionMetrics.BatchExecutionSummary.StartTs],
#[originalPayload.Status]);]]></db:parameterized-query>
           
    </db:template-query>
    <db:template-query name="Template_Query" doc:name="Template Query">
        <db:parameterized-query><![CDATA[INSERT INTO BATCH_AUDIT_INFO(BATCH_RUN_ID,
                BATCH_PROCESS_NAME,
                BATCH_SOURCE_FILE_NAME,
                OVERALL_RESULT)
VALUES(:seq,:processName,:sourceFile,:overallResult);]]></db:parameterized-query>
        <db:in-param name="processName" defaultValue="proce"/>
        <db:in-param name="sourceFile" defaultValue="sour"/>
        <db:in-param name="overallResult" defaultValue="pass"/>
        <db:in-param name="seq" defaultValue="1002"/>
    </db:template-query>
    
      <flow name="GatherBatchNotifications" doc:description="Gather Batch Execution Metrics from the ESB Notifications Queue. Message has to conform to the Execution Metrics JSON format">
        <jms:inbound-endpoint queue="${notifications.queue}" connector-ref="Active_MQ" doc:name="JMS"/>

        <dw:transform-message doc:name="Transform Message" metadata:id="d27ed0e2-7799-496e-b6f9-ad69b07a0a55">
            <dw:input-payload mimeType="application/json"/>
         
            <dw:set-payload resource="classpath:dw/notify-communicate-gather-batch-notification-payload-from-JMS.dwl"/>
        </dw:transform-message>

        <logger message="Notifications System Persist Message Processing App #[payload.ExecutionMetrics.ApplicationName]" level="DEBUG" doc:name="Logger"/>






        <set-variable variableName="originalPayload" value="#[payload]" doc:name="Variable" mimeType="application/json"/>


 
      	<ee:multi-transactional action="ALWAYS_BEGIN" doc:name="Transactional">
            <db:insert config-ref="Oracle_Configuration" autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1" doc:name="Database">
                <db:parameterized-query><![CDATA[INSERT
INTO BATCH_AUDIT_INFO
  (
    BATCH_RUN_ID,
    BATCH_PROCESS_NAME,
    BATCH_SOURCE_FILE_NAME,
    TOTAL_RECORDS,
    SUCCESSFUL_RECORDS,
    FAILED_RECORDS,
    PROCESSED_RECORDS,
    PARENT_BATCH_RUN_ID,
    BATCH_START_TS,
    BATCH_END_TS,
    OVERALL_RESULT,
    SYSTEM_EXCPTN_DETAILS
  )
  VALUES
  (
    BATCH_RUN_ID_SEQ.NEXTVAL,
    #[flowVars.originalPayload.ExecutionMetrics.ApplicationName],
    #[flowVars.originalPayload.ExecutionMetrics.BatchExecutionSummary.SourceFileName],
    #[flowVars.originalPayload.ExecutionMetrics.BatchExecutionSummary.Total],
    #[flowVars.originalPayload.ExecutionMetrics.BatchExecutionSummary.Successful],
    #[flowVars.originalPayload.ExecutionMetrics.BatchExecutionSummary.Failed],
    #[flowVars.originalPayload.ExecutionMetrics.BatchExecutionSummary.ProcessedRecords],
    #[flowVars.originalPayload.ExecutionMetrics.BatchExecutionSummary.ParentBatchRunId],
     to_timestamp(#[flowVars.originalPayload.ExecutionMetrics.BatchExecutionSummary.StartTs],'yyyy-mm-dd hh24:mi:ss'),
    to_timestamp(#[flowVars.originalPayload.ExecutionMetrics.BatchExecutionSummary.EndTs],'yyyy-mm-dd hh24:mi:ss'),
    #[flowVars.originalPayload.ExecutionMetrics.Status],
    #[flowVars.originalPayload.ExecutionMetrics.BatchExecutionSummary.ErrorFile]    
  )]]></db:parameterized-query>




            </db:insert>
            	            
            	                  
            <dw:transform-message metadata:id="f05bb066-7e6a-4219-bcc9-db41427d0c11" doc:name="Transform Message">
               
                <dw:input-payload mimeType="application/java"/>
                <dw:set-payload resource="classpath:dw/nitify-communicate-gather-batch-notification-transactional-payload.dwl"/>
                <dw:set-variable resource="classpath:dw/notify-communicate-gather-batch-notification-transactional-batch-runId.dwl" variableName="batchRunId"/>

            </dw:transform-message>
            <object-to-string-transformer mimeType="text/plain" doc:name="Object to String"/>
            <logger message="Notifications System Persist Message -  Sequence is #[flowVars.batchRunId] Transform output is   #[payload]" level="DEBUG" doc:name="Logger"/>
            
  
    <db:insert config-ref="Oracle_Configuration" doc:name="Database">
                <db:parameterized-query><![CDATA[INSERT INTO ESB_APPS_AUDIT(ESB_APPS_AUDIT_ID,
                APP_ID,
                BATCH_RUN_ID,                
                PARENT_BATCH_RUN_ID,
                PRIORITY,
                SUMMARY_MESSAGE,
                DETAILED_MESSAGE,
                SERVER_HOST,
                SERVER_IP,                
                CREATE_TS,
                UPDATE_TS
                )
VALUES(ESB_APPS_AUDIT_SEQ.NEXTVAL,
#[flowVars.originalPayload.ExecutionMetrics.ApplicationID],
 #[flowVars.batchRunId], 
 #[flowVars.originalPayload.ExecutionMetrics.BatchExecutionSummary.ParentBatchRunId],   
 #[flowVars.originalPayload.ExecutionMetrics.MessagePriority],
#[flowVars.originalPayload.ExecutionMetrics.MessageSummary],
  #[flowVars.originalPayload.ExecutionMetrics.MessageDetails],
  #[flowVars.originalPayload.ExecutionMetrics.ServerInfo.HostName],
   #[flowVars.originalPayload.ExecutionMetrics.ServerInfo.HostIP],
#[function:now],
#[function:now]
)]]></db:parameterized-query>






            </db:insert>
 
            
    <!--             <db:insert config-ref="Oracle_Configuration" transactionalAction="ALWAYS_JOIN" doc:name="Database">
                <db:template-query-ref name="BATCH_AUDIT_INFO_INSERT"/>
            </db:insert>  -->
     </ee:multi-transactional>  
    
        
        <logger message="Notifications System Persist Message completed - database output #[payload]" level="DEBUG" doc:name="Logger"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
                <logger message="Notifications System Persist Message - Exception in database operation #[payload]" level="INFO" doc:name="Logger"/>
            </catch-exception-strategy>
    </flow>
    <flow name="AggregateNotifications" doc:description="Gather notifications from the database and submit to queue so that communication flow can broadcast it" processingStrategy="synchronous">
        <poll doc:name="Poll">
            <schedulers:cron-scheduler expression="${cron.trigger}"/>
            <watermark variable="lastUpdated" default-expression="#[0]" selector="MAX" selector-expression="#[message.payload['BATCH_RUN_ID']]"/>
            <db:select config-ref="Oracle_Configuration" doc:name="Database">
                <db:parameterized-query><![CDATA[SELECT E.ESB_APPS_AUDIT_ID,
  E.APP_ID,
  B.BATCH_RUN_ID,
  B.PARENT_BATCH_RUN_ID,
  E.PRIORITY,
  E.SUMMARY_MESSAGE,
  E.DETAILED_MESSAGE,
  E.CREATE_TS,
  E.UPDATE_TS,
  E.SERVER_HOST,
  E.SERVER_IP,
  B.BATCH_PROCESS_NAME,
  B.BATCH_SOURCE_FILE_NAME,
  b.TOTAL_RECORDS,
  b.SUCCESSFUL_RECORDS,
  B.FAILED_RECORDS,
  B.PROCESSED_RECORDS,
  b.OVERALL_RESULT,
  B.SYSTEM_EXCPTN_DETAILS
FROM ESB_APPS_AUDIT E,
  BATCH_AUDIT_INFO B
WHERE e.BATCH_RUN_ID = b.BATCH_RUN_ID
AND e.create_ts between to_timestamp(TO_CHAR(systimestamp,'DD-MON-YYYY HH12:MI:SS.FF'),'DD-MON-YYYY HH12:MI:SS.FF')- (interval '${audit.records.interval}' day) 
and to_timestamp(TO_CHAR(systimestamp,'DD-MON-YYYY HH12:MI:SS.FF'),'DD-MON-YYYY HH12:MI:SS.FF')
 and   B.BATCH_RUN_ID >  #[flowVars["lastUpdated"]]]]></db:parameterized-query>

            </db:select>
        </poll>
        <logger message="Notifications System Publish Message Triggered " level="INFO" doc:name="Logger"/>

        <dw:transform-message metadata:id="c90cf994-1fa4-4dd4-aa37-1f127af455b3" doc:name="Transform Message">
        <dw:input-payload mimeType="application/java"/>
             <dw:set-payload resource="classpath:dw/notify-communicate-AggregateNotifications-BatchSummary.dwl"/>
        </dw:transform-message>




        <collection-splitter doc:name="Collection Splitter"/>
        <dw:transform-message doc:name="Transform Message">
        <dw:input-payload mimeType="application/java"/>
          <dw:set-payload resource="classpath:dw/notify-communicate-AggregateNotifications-BatchSummary-afterCollectionAggregator.dwl"/>
        </dw:transform-message>
        <json:object-to-json-transformer mimeType="application/json" doc:name="Object to JSON"/>


        <jms:outbound-endpoint queue="${communcations.queue}" connector-ref="Active_MQ" doc:name="JMS"/>

    </flow>
    <flow name="notify-communicateFlow">
        <jms:inbound-endpoint queue="${communcations.queue}" connector-ref="Active_MQ" mimeType="text/json" doc:name="JMS"/>
        <dw:transform-message doc:name="To Java">
           
            <dw:set-payload resource="classpath:dw/notify-communicate-notify-communicateFlow-payload-from-JMS.dwl"/>
        </dw:transform-message>

        <enricher source="#[payload]" target="#[flowVars.mailIds]" doc:name="Message Enricher">
            <db:select config-ref="Oracle_Configuration" doc:name="Retrieve Email Ids">
                <db:parameterized-query><![CDATA[SELECT EMAIL FROM CONTACTS WHERE CONTACT_ID IN (WITH T AS (SELECT (SELECT CONTACT_ID FROM APPLICATION WHERE APP_ID = #[message.payload.ExecutionMetrics.ApplicationID]) STR  FROM DUAL)   SELECT    
 REGEXP_SUBSTR (STR, '[^,]+', 1, LEVEL) SPLIT_VALUES  FROM T 
 CONNECT BY LEVEL <= (SELECT LENGTH (REPLACE (STR, ',', NULL)) FROM T))]]></db:parameterized-query>

            </db:select>
        </enricher>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload resource="classpath:dw/notify-communicate-payload-after-retrieving-EmailIds.dwl"/>
            <dw:set-variable resource="classpath:dw/notify-communicate-flowVars-for-emails.dwl" variableName="mailIds"/>
            <dw:set-variable resource="classpath:dw/notify-communicate-Batch-Proccess-Name-after-retrieving-mailIds.dwl" variableName="processName"/>

        </dw:transform-message>

        <set-variable variableName="mailIds" value="#[flowVars.mailIds.toString().replace('[','').replace(']','')]" doc:name="Variable"/>

        <parse-template location="mail-templete.html" doc:name="Parse Template"/>
        <smtp:outbound-endpoint host="${smtp.host}" port="${smtp.port}" user="${smtp.user}" password="${smtp.password}" responseTimeout="10000" doc:name="SMTP" connector-ref="SMTP" from="donotreply@tccrocks.com" subject="#[flowVars.processName + ' Batch Result']" to="#[flowVars.mailIds]"/>
    </flow>
    <flow name="notify-communicate-error-Flow">
        <jms:inbound-endpoint doc:name="JMS-CONSUMER-NOTIFY-COMMUNICATE-ERROR" connector-ref="Active_MQ"  queue="${error.notifications.queue}"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload resource="classpath:dw/notify-communicate-error-floe-payload-from-JMS.dwl"/>
            <dw:set-variable resource="classpath:dw/notify-communicate-error-flow-mailIds.dwl" variableName="mailIds"/>
            <dw:set-variable resource="classpath:dw/notify-communicate-error-floe-mail-subject.dwl" variableName="mailSubject"/>
            <dw:set-variable resource="classpath:dw/notify-communicate-error-flow-mailGenericrecipients.dwl" variableName="mailGenericrecipients"/>
            <dw:set-variable resource="classpath:dw/notify-communicate-error-mailVerboserecipents.dwl" variableName="mailVerboserecipients"/>

        </dw:transform-message>
        <logger level="INFO" doc:name="Logger" message="Notification Error Payload ? #[payload] : Generic Recipients : #[flowVars.mailGenericrecipients] :: Verbose Recipients: #[flowVars.mailVerboserecipients]"/>
        
        <scatter-gather doc:name="Scatter-Gather">
            <choice doc:name="Choice">
                <when expression="#[message.payload.systemName == 'ESB' || message.payload.systemName == 'SFDC']">
                    <parse-template location="generic-mail-template-noTSLloginfo.html" doc:name="Generic Template"/>

                    <smtp:outbound-endpoint host="${smtp.host}" port="${smtp.port}" user="${smtp.user}" password="${smtp.password}" connector-ref="SMTP" to="#[flowVars.mailGenericrecipients]" from="donotreply@tccrocks.com" subject="#[flowVars.mailSubject]" responseTimeout="10000" doc:name="Generic SMTP"/>
                </when>
                <otherwise>
                    <parse-template location="generic-mail-template.html" doc:name="Generic Template"/>
                    <smtp:outbound-endpoint host="${smtp.host}" port="${smtp.port}" user="${smtp.user}" password="${smtp.password}" connector-ref="SMTP" to="#[flowVars.mailGenericrecipients]" from="donotreply@tccrocks.com" subject="#[flowVars.mailSubject]" responseTimeout="10000" doc:name="Generic SMTP"/>
                </otherwise>
            </choice>

            <processor-chain>
                <parse-template location="verbose-mail-template.html" doc:name="Verbose Template"/>
                <smtp:outbound-endpoint host="${smtp.host}" port="${smtp.port}" user="${smtp.user}" password="${smtp.password}" connector-ref="SMTP" to="#[flowVars.mailVerboserecipients]" from="donotreply@tccrocks.com" subject="#[flowVars.mailSubject]" responseTimeout="10000" doc:name="Verbose SMTP"/>
            </processor-chain>
        </scatter-gather>

    </flow>
    
    
</mule>
